.how-work__title {
  @extend %visually-hidden;
}

.how-work {
  width: 100%;
  @include pushAuto;

  padding-top: 78px;
  padding-bottom: 96px;

  background-color: map-get($colors, 'workBgc');

  // background-image: url(../image/Shape.png);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-position-y: 50px;
}

.how-work__list {
  position: relative;
  display: flex;
  justify-content: center;

  @include aleo(36, 26);

  color: map-get($colors, 'accent');
}

.how-work__list:before {
  position: absolute;
  top: -60px;

  content: '';
  width: 777px;
  height: 95px;
  background-image: url(../image/Shape.png);
  background-repeat: no-repeat;
  background-position: center;
}

// icon
.how-work__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-right: 175px;
  }
}

.icon {
  content: '';
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 19px;

  width: 99px;
  height: 99px;

  background-color: map-get($colors, 'workBgc');

  border-radius: 50%;
  z-index: 5;
}
