.social__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: map-get($colors, 'accent');

  &:hover,
  &:focus {
    color: map-get($colors, 'link');
  }
}

.social__icon {
  fill: currentColor;
}
