.hero {
  position: relative;
  width: 1770px;
  height: 821px;
  padding-top: 264px;
  @include pushAuto;
  background-image: url('../image/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}

.hero-thumb {
  color: map-get($colors, 'white');
}

.hero__title {
  @include josefin(700, 48, 26);
  letter-spacing: 4.8px;
  text-transform: uppercase;

  margin-bottom: 11px;
}

.hero__text {
  @include josefin(400, 22, 26);
  letter-spacing: 6.82px;

  margin-bottom: 48px;
}

// hero btn
.hero-btn__thumb {
  display: inline-flex;
  flex-direction: column;
}

.hero-btn__search {
  margin-bottom: 108px;

  @extend %button;

  border: 2px solid map-get($colors, 'white');
}

.hero-btn__scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 108px;

  @include josefin(400, 14, 26);
  letter-spacing: 2.8px;

  background-color: transparent;
  border: transparent;
  color: map-get($colors, 'white');
}

.hero-btn__scroll-icon {
  fill: currentColor;
}
