.nav {
  position: relative;
  bottom: -51px;
  left: 0;

  background-color: map-get($colors, 'link');
}

.logo {
  @include josefin(700, 24, 26);
  text-transform: uppercase;
  letter-spacing: 2.4px;

  margin-top: 30px;
  margin-bottom: 34px;

  color: map-get($colors, 'white');
}

.nav-thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}
.nav__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.nav__link {
  @include aleo(16, 24);
  text-transform: uppercase;

  padding-top: 34px;
  padding-bottom: 34px;

  color: map-get($colors, 'white');
}
